# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
# Bugfix for getdown.txt (etc) not validating repeatedly
getdown.txt text eol=lf
user.config text eol=lf
version.txt text eol=lf
