#Fri Nov 13 23:57:37 GMT 2020
user.room_locations=4973\:5647;Room 1,4974\:9875;Room 2,4970\:1783;Room 3,4971\:2777;Room 4,4999\:6542;Room 5,4998\:1234;Room 6
user.last_address=growup.ddns.net
user.last_team=1
user.last_room_index=2
user.username=GrowUp
user.height=600
user.last_ship=11
user.width=800
user.last_resolution=0
